canvas {
    display: block;
    margin: auto;
    border: 1px solid black;
}

#playbutton {
    width: 100px;
    height: 50px;
    display: block;
    font-family: Arial, sans-serif;
    font-size: 30px;
    font-weight: bold;
    background-color: white;
    cursor: pointer;
    margin-top: 10px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto 0;
}

#score-container {
    display: flex;
    justify-content: center;
    align-items: center;    
    font-family: Arial, sans-serif;
    font-size: 18px;
    margin-left: 20px;
    font-weight: bold;
}

#score {
    margin-left: 5px;
}

#highscore {
    margin-left: 5px;
}

#gameOverMessage {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
}